.clickIcon {
  cursor: pointer;
}

.sideBarWrapper {
  background-color: #F6F8F9;
}

.sideBarOpen {
  min-width: 235px;
}

.sideBarContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 24px;
  min-height: 100vh;
}

.toggleIconWrapper {
  position: absolute;
  top: 50%;
  right: 0;
}

.dropDownContainer {
  display: flex;
  margin-top: 6px;
}

.dropDownHeader {
  font-weight: bold;
  margin-left: 5px;
}

.dropDownList {
  list-style: none;
  margin-left: 0;
}

.dropDownItem {
  cursor: pointer;
  padding: 4px;
}

.dropDownItem:hover {
  background-color: #EEF0F2;
}