.mainContainer {
  margin-top: 10px;
}

.headerRow {
  background-color: #F6F8F9;
}

.row {
  display: flex;
}

.cell {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 50px;
}

.dots {
  flex: 1;
}

.checkboxWrapper {
  flex: 1;
  box-sizing: border-box;
}

.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

.name {
  flex: 10;
  box-sizing: border-box;
}

.groupName {
  font-weight: bold;
}

.ingredientName {
  margin-left: 20px;
}

.weight {
  flex: 3;
  box-sizing: border-box;
}

.calories {
  flex: 3;
  box-sizing: border-box;
}

.notes {
  flex: 5;
  box-sizing: border-box;
}

.removeIcon {
  flex: 1;
  box-sizing: border-box;
  cursor: pointer;
}

.removeIconHeader {
  flex: 1;
  border: solid 1px;
  box-sizing: border-box;
}

.editableContent {
  cursor: text;
}
.editableContent:focus {
  outline: 1px solid #779DFF;
}