.infoPanelContainer {
  display: flex;
  padding: 12px;
  justify-content: space-between;
}

.buttonGroup {
  display: flex;
}

.button {
  margin-left: 12px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #D2D3D7;
  background-color: white;
  border-radius: 12px;
  padding: 5px;
}

.infoContent {
  display: flex;
  align-items: center;
}

.divider {
  border-top: 0;
  border-bottom: 0;
  border-left: solid 10px gray;
  border-right: 0;
  width: 10px;
}