.group {
  border: 1px dashed gray;
  padding: 0.5rem 1rem;
  margin-bottom: .5rem;
  background-color: white;
  //cursor: move;
}

.editableElement {
  color: blue;
}

.groupIsDragging {
  opacity: 0;
}

.checkbox {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}

